@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is an implementation of jQuery File Upload by <a href="https://github.com/blueimp/jQuery-File-Upload">blueimp</a>.</p>

<a href="https://github.com/iNantz/MVCFileUpload">Source Code</a>